<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.urbancode.com/PluginXMLSchema_v1"
        xmlns:server="http://www.urbancode.com/PluginServerXMLSchema_v1"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <header>
    <identifier id="br.com.bb.urbancode.plugin.rundeck" version="@API_VERSION@" name="Rundeck - BB"/>
    <description>O plugin Rundeck BB aciona e gerencia a execução de jobs do Rundeck</description>
    <tag>DEV/BB/Rundeck</tag>
  </header>
  <step-type name="Aciona Job">
    <description>Aciona o job do Rundeck</description>
    <properties>
      <property name="rundeck_url" required="true">
        <property-ui type="textBox"
                     label="URL do Rundeck"
                     description="URL de acesso ao Rundeck."/>
      </property>
      <property name="rundeck_authentication_token" required="true">
        <property-ui type="secureBox"
                     label="Token de Autenticação"
                     description="Token de autenticacao para acesso ao Rundeck."/>
      </property>      
      <property name="rundeck_job_name" required="true">
        <property-ui type="textBox"
                     label="Nome do Job"
                     description="Nome do Job do Rundeck que deve ser acionado."/>
      </property>
      <property name="rundeck_job_parameters" required="true">
        <property-ui type="textBox"
                     label="Parametros do Job"
                     description="Parametros de acionamento do job."/>
      </property>
    </properties>
    <post-processing>
      <![CDATA[
        if (properties.get("exitCode") != 0) {
            properties.put(new java.lang.String("Status"), new java.lang.String("Failure"));
        }
        else {
            properties.put("Status", "Success");
        }
     ]]>
    </post-processing>

    <command program="${GROOVY_HOME}/bin/groovy">
      <arg value="-cp"/>
      <arg path="classes:lib/groovy-plugin-utils-1.0.jar:lib/*"/>
      <arg file="acionaJob.groovy"/>
      <arg file="${PLUGIN_INPUT_PROPS}"/>
      <arg file="${PLUGIN_OUTPUT_PROPS}"/>
    </command>
  </step-type>
</plugin>
